<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const checkboxes = document.querySelectorAll(
        'input[name="vehicles"]:checked'
      );

      var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
      };
    </script>
    <style>
      body {
        font: 15px/1.4 Verdana, Arial;
        background: #eee;
        height: 100%;
        margin: 25px 10px;
        padding: 0;
      }
    </style>
    <title>Form</title>
  </head>
  <body>
    <h1>Electricity Bill Payment</h1>
    <hr />

    <form action="emp" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div
        style="height: 100px; display: flex; align-items: center; height: 100%"
      >
        <pre>Id   <input type="number" name="t1" /><br /><br /></pre>
      </div>
      <hr />
      <div
        style="height: 100px; display: flex; align-items: center; height: 100%"
      >
        <pre>Name  <input type="text" name="t2" /><br /><br /></pre>
      </div>
      <hr />

      <div style="display: flex; align-items: center; height: 100%">
        <pre>Address

        <textarea type="text" name="t3" cols="30" rows="10"></textarea>
      </pre>
      </div>
      <hr />
      <div
        style="height: 100px; display: flex; align-items: center; height: 100%"
      >
        <pre>Age   <input type="number" name="t4" /><br />
        </pre>
      </div>
      <hr />

      <!-- Radio button -->
      <div>Date of Birth: <input type="date" name="dob" id="dob" /></div>
      <br />
      <hr />

      <div>
        <p>Please select your gender:</p>
        <input type="radio" id="male" name="gender" value="male" />
        <label for="male">Male</label><br />
        <input type="radio" id="female" name="gender" value="female" />
        <label for="female">Female</label><br />
        <input type="radio" id="other" name="gender" value="other" />
        <label for="other">Other</label>
        <br /><br />
        <hr />
      </div>
      <div>
        Amount you want to pay:
        <input type="number" step="any" name="amount" id="" />
      </div>
      <br />
      <hr />
      <div>
        <p>DO you have a recent power cut?</p>
        <input type="radio" id="less" name="donations" value="False" />
        <label for="lesser">Yes</label><br />
        <input type="radio" id="less" name="donations" value="True" />
        <label for="lesser">No</label><br />
      </div>
      <br />
      <hr />

      <div>
        <label for="group">Select board of electricity</label>

        <select name="group" id="group">
          <option value="">Rajasthan board</option>
          <option value="">Delhi board</option>
          
          <option value="">BSES</option>
          <option value="">Other</option>
          
        </select>
      </div>
      <br />
      <hr />

      <div>
        <p>What meter you have?</p>

        <input type="checkbox" id="vehicle1" name="bike" value="True" />
        <label for="vehicle1"> Residential</label><br />
        <input type="checkbox" id="vehicle2" name="car" value="True" />
        <label for="vehicle2"> Industry</label><br />
        <input type="checkbox" id="vehicle3" name="boat" value="True" />
        <label for="vehicle3"> Other</label><br />
      </div>
      <br />
      <div>
        <hr />

        <label for="img">Select image:</label>
        <!-- <p><input type="file" accept="image/*" name="image" /></p> -->
        <input
          type="file"
          name="picture"
          accept="image/*"
          id="file"
          onchange="loadFile(event)"
        />
        <p><img id="output" width="500" /></p>
        <hr />
      </div>
      <br />
      <div>
        <input type="submit" value="Insert" name="b1" />
        <input type="submit" value="Select" name="b1" />
        <input type="submit" value="Update" name="b1" />
        <input type="submit" value="Delete" name="b1" />
      </div>
    </form>
  </body>
</html>
